<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
    	<script src="/js/index.js"></script>
<script src="/js/test.js"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app>
<div ng-controller="Hello">
<table border="thin" style="color: fuchsia; background-color:white;">
<thead>
<tr><th>country</th>
<th>name</th>
<th>expirydate</th>
</tr>
</thead>
<tr>
<td>{{greeting.0.country}}</td>
<td>{{greeting.0.userName}}</td>
<td>{{greeting.0.expiryDate}}</td>
</tr>

<tr>
<td>{{greeting.1.country}}</td>
<td>{{greeting.1.userName}}</td>
<td>{{greeting.1.expiryDate}}</td>
</tr>
<tr>
<td>{{greeting.2.country}}</td>
<td>{{greeting.2.userName}}</td>
<td>{{greeting.2.expiryDate}}</td>
</tr>
<tr>
<td>{{greeting.3.country}}</td>
<td>{{greeting.3.userName}}</td>
<td>{{greeting.3.expiryDate}}</td>
</tr>
</table>

</div>
</body>
</html>