@CHARSET "ISO-8859-1";
#slide{
	position: absolute; top: 0; left: 0;
	z-index: 1;
}
.header{display:inline-block;
             padding:5px 15px;
            position:absolute;
            left : 0%;
            top : 0%;
             width:100%;
              z-index: 2;
             }

.logo{float:left;  z-index: 2;}

.header h1 {font-size:15px;
                 width:80%;
                 text-align:center;
                  z-index: 2;}

.algerian {
    text-shadow: 1.5px 1.5px 0 #c10000, 2px 2px 0 #c10000;
    font-size:60px;
                 width:100%;
                outline: #ff0000;
                z-index: 2;
                 
                
} 
.threed {
    color: #d00000;
    z-index: 2;
     text-align:center;
     font-size:60px;
    text-shadow: 0 1px 0 #bb6a06, 0 2px 0 #bb6a06,
             0 3px 0 #bb6a06, 0 4px 0 #bb6a06,
             0 5px 0 #bb6a06, 0 6px 0 #bb6a06,
             0 7px 0 #bb6a06, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
}
#rad2  {
  color: #c10000;
    font-family:cursive;
    z-index: 2;
       position:absolute; 
       left: 80%;
       top: 60px;          
    padding-left:30%
    font-family: fantasy;
    font-size:20px;
  
  
}

.neon {
    color: #ff0000;
        z-index: 2;
     text-align:center;
     font-size:60px;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}
.neon1 {
    color: #ff0000;
        z-index: 2;
     text-align:center;
     font-size:20px;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}
#rad {
  color: #c10000;
    font-family:cursive;
    z-index: 2;
                 
    padding-left:30%
    font-family: fantasy;
    font-size:20px;
   
   text-align: center;
  
}       
#rad1 {
  color: #c10000;
    font-family:cursive;
    z-index: 2;
                 
    padding-left:30%
    font-family: fantasy;
    font-size:20px;
  
  
}                

@import "http://fonts.googleapis.com/css?family=Raleway";
/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#abc {
	z-index: 3;
width:100%;
height:100%;
opacity:.95;
top:0%;
left:0%;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
#abc1 {
	z-index: 3;
width:100%;
height:100%;
opacity:.95;
top:0%;
left:0%;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img#close {
	z-index: 3;
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
	z-index: 3;
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
form {
	z-index: 3;
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
p {
	z-index: 3;
margin-top:30px
}
h2 {
	z-index: 3;
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
	z-index: 3;
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
	z-index: 3;
width:200px;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
input[type=date] {
	z-index: 3;
width:200px;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
select {
	z-index: 3;
width:200px;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
textarea {
	z-index: 3;
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
#submit {
	z-index: 3;
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
	z-index: 3;
color:red;
font-weight:700
}
button {
	z-index: 3;
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}